<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>A</key>
	<string>a</string>
	<key>A</key>
	<string>aa</string>
	<key>B</key>
	<dict>
		<key>A</key>
		<string>a</string>
	</dict>
	<key>C</key>
	<string>c</string>
</dict>
</plist>
